* { box-sizing: border-box; }
body {
    background-color: #222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 300px;
    height: 300px;
}
.circle {
    background-color: #013220;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    transform: scale(1);
}
/* Grow Animation */
.container.grow { animation: grow 4s linear forwards; }
@keyframes grow {
    from { transform: scale(1); }
    to { transform: scale(1.2); }
}
/* Shrink Animation */
.container.shrink { animation: shrink 7s linear forwards; }
@keyframes shrink {
    from { transform: scale(1.2); }
    to { transform: scale(1); }
}

